.about {
    display: flex;
    min-height: 720px;
}

.about__images {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

.about__images div {
    padding: 32px 64px;
    flex: 1;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.upper-image {
    background-image: url("../../assets/about_bg1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 8px solid var(--color-creamson);
}

.lower-image {
    background-image: url("../../assets/about_bg2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.upper-image img, .lower-image img {
    width: 255px;
    height: 200px;
}

.about__images button {
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 30px 0 0 30px;
    padding: 12px 32px;
    min-height: 64px;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    right: 0;
    font-family: var(--plus-jakarta-sans);
}

.about__images button img {
    margin-left: 20px;
}

.about__content {
    flex: 1;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-subtitle {
    color: var(--primary-color);
    font-size: 18px;
}

.content-header {
    color: var(--secondary-color);
    font-size: 64px;
    font-family: var(--playfair-display);
    margin-top: 15px;
    font-weight: 600;
}

.content-description {
    font-size: 18px;
    margin-block: 30px;
    opacity: 0.8;
    line-height: 36px;
}



